html {
    font-size: 10pt;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chapter-one, .chapter-two {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

.chapter-one td {
    padding: 3px 0;
}

.chapter-one tr {
    min-height: 6mm;
}

.chapter-one .bottom-text {
    font-size: 5pt;
    text-align: center;
    vertical-align: top;
    border: none;
    padding: 0;
}

.chapter-one .bottom-row {
    min-height: auto;

}

.border-all {
    border: 1px solid black;
}        

.border-top-none {
    border-top: none;
}

.border-bottom-none {
    border-bottom: none;
}

.border-bottom {
    border-bottom: 1px solid #000;
}

.chapter-one tr td:last-child {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.chapter-one tr:nth-child(1) td:last-child {
    border: 1px solid black;
}

.chapter-one tr:nth-child(2) td:last-child {
    border-top: 2px solid black;
}

.chapter-one tr:nth-child(2n + 7) td:nth-child(2) {
    padding: 3px 10px;
}

.chapter-one tr:nth-child(2n + 7) td:nth-child(1) {
    padding-right: 10px;
}

.wrap .chapter-one tr:nth-child(n + 14) td {
    padding: 3px 0;
}

.wrap {
    width: 28cm;
    margin: 0 auto;
}

span {
    display: block;
}

.chapter-two td, .chapter-two th {
    border: 1px solid black;
}

.chapter-two td, .chapter-two th {
    padding: 2px 5px;
}

.chapter-two-cell-one {
    width: 10mm;
}

.chapter-two-cell-two {
    min-width: 60mm;
}

.chapter-two tfoot tr td:first-child {
  text-align: right;
  border: none;
}

.chapter-two tfoot tr td:nth-child(5), .chapter-two tfoot tr td:nth-child(7) {
    text-align: center;
    font-family: 'calibri';
    font-size: 14pt;
}

.chapter-two {
    counter-reset: item;
}

.count {
    counter-increment: item;
}

.chapter-two .count span::before {
    content: counter(item);
}

